@font-face {
    font-family: "AgencyFb";
    src: url("./fonts/AGENCYR.TTF") format("truetype");
  }
  
  * {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #222;
  }
  
  .wrapper {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
  }
  
  #header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: AgencyFb, sans-serif;
    font-size: 30px;
    background-color: #fff;
  }
  
  #contentheader {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  #menu a {
    text-decoration: none;
    color: #222;
    margin-left: 10px;
    transition: background 0.8s;
    padding: 5px;
    border-radius: 10px;
  }
  
  #menu a:hover {
    background: #e6712e;
    color: #fff
  }
  
  #banner {
    width: 100%;
    height: 244px;
    background: url("img/banner\ novo.jpg");
  }
  
  #destaque {
    color: #fff;
    font-family: AgencyFb, sans-serif;
    font-size: 20px;
    margin-top: 20px;
  }
  
  #produtosdestaque {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  #produtosdestaque img {
    width: 200px;
    transition: ease-in;
  }
  
  #produtosdestaque img:hover {
    transform: scale(1.07, 1.07);
  }
  
  #rodape {
    width: 100%;
    height: 150px;
    background: url("img/Malha.png");
    margin-top: 30px;
    color: #fff;
  }
  
  #content-rodape {
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 300px;
  }
  
  #creditos {
    width: 100%;
    margin-top: 40px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  #categorias {
    margin-top: 15px;
  }
  #linhas {
    display: flex;
    flex-direction: column;
  }
  .conteudo-linha {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
  }
  .conteudo-linha img {
    width: 240px;
    transition: ease-in;
  }
  
  .conteudo-linha img:hover {
    transform: scale(1.05, 1.05);
  }
  
  #quemsomos {
    color: #fff;
    font-family: AgencyFb, sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: url("./img/Malha\ grafica\ 11.png");
    background-size: 100%;
    padding: 70px;
  }
  
  #titulo{
    color: #fff;
    font-family: AgencyFb, sans-serif;
      margin-bottom: 20px;
      width: 100%;
      text-align: center;
      margin-top: 15px;
  }
  
  #quemsomos span{
      margin-bottom: 20px;
  }
  
  #descricao{
      display: flex;
      justify-content: space-between;
  }
  
  #descricao span{
      width: 400px;
      font-size: 24px;
      margin-right: 244px;
  }
  
  #descricao img{
      width: 200px;
      margin-left: 30px;
  }
  #integrantes{
    margin-top: 15px;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
  }
  #integrantes h2{
    color: #fff;
    font-family: AgencyFb, sans-serif;
    padding-top: 25px;
    padding-bottom: 20px;
    font-size: xx-large;
  }

  #area{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family:  AgencyFb, sans-serif;
    font-size: 25px;
    color: #fff;
  }
  #cadastro{
    margin-top: 20px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
  }
  #cadastro label{
    margin-top: 10px;
  }
  form input, form textarea{
    flex:1;
    padding: 20px;
    margin-top: 10px;
    border: 1px solid transparent;
  }

form input:focus, form textarea:focus{
    border: 1px solid #e6712e;
  }

  form textarea::placeholder {
    color: #e6712e;  
  }
  .btn_submit{
    font-family:  AgencyFb, sans-serif;
    font-size: 20px;
    color: #fff;
    background-color: rgb(230, 113, 46);
    border-radius: 15%;
    padding: 5px;
  }

  #cadastro ::placeholder{
    font-family: AgencyFb, sans-serif;
    font-size: 20px;
    color: rgb(230,113,46);
  }

  #Endereço{
    color: #fff;
    font-family:  AgencyFb, sans-serif;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 120px;
  }

  #redes{
   
  }
  